# Database URL (Local MongoDB or MongoDB Atlas)
# Local MongoDB Example: mongodb://127.0.0.1:27017/tokopedia-play
# MongoDB Atlas Example: mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/tokopedia-play?retryWrites=true&w=majority
DATABASE_URL=mongodb://127.0.0.1:27017/tokopedia-play

# Server Configuration
PORT=3001
NODE_ENV=development
